@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-1: 8, 8, 13;
  --background-color-2: 30, 23, 42;
  --color-2: 209, 209, 209;
  --color-3: 147, 76, 180;
  --font-family-1: "Kanit", sans-serif;
  background-color: rgb(var(--background-color-1)) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: var(--font-family-1);
  font-weight: 300;
  word-spacing: 1px;
}

body {
  background-color: rgb(var(--background-color-1)) !important;
  box-sizing: border-box;
  font-family: var(--font-family-1);
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(var(--background-color-1)) !important;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 3, 62) !important;
  border-radius: 10px;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-scrollbar::-webkit-scrollbar {
 width: 0;
}
