@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-1: #141313;
  --background-color-2: 18, 18, 23;
  --color-2: 209, 209, 209;
  --color-3: lightgreen;
  --font-family-1: var(--font-workSans);
  background-color: var(--background-color-1) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-1);
  font-weight: 300;
  word-spacing: 1px;
}

body {
  background-color: rgb(var(--background-color-1)) !important;
  font-family: var(--font-family-1);
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(var(--background-color-1)) !important;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(87, 86, 86) !important;
  border-radius: 10px;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
}
