@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-1: #060d17;
  --background-color-2: #16202d;
  --background-color-3: #010307;
}

body {
  /* --color-3: rgb(108, 238, 108); */
  --color-3: rgb(255, 215, 0);
  --color-4: rgba(255, 217, 0, 0.249);
  --font-family-1: var(--font-workSans);
  background-color: var(--background-color-1) !important;
}

body.flixstream {
  --color-3: rgb(44, 128, 212);
  --color-4: rgba(0, 149, 255, 0.298);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-1);
  font-weight: 400;
  word-spacing: 1px;
}

body {
  background-color: rgb(var(--background-color-1)) !important;
  font-family: var(--font-family-1);
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(var(--background-color-1)) !important;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(87, 86, 86) !important;
  border-radius: 10px;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: var(--color-3) !important;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  bottom: 0;
  border-radius: 20px !important;
  padding: 0 10px 0 10px !important;
  top: unset !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: var(--color-3) !important;
  border-radius: 20px !important;
}
