.carousel-item .text p {
  font-weight: 300;
  margin-bottom: 15px;
}

.carousel-item .text .title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-1);
}

.carousel-item .text .info {
  font-size: 16px;
  display: block;
}

.carousel-item .text .info span {
  font-weight: 400;
  margin-right: 15px;
  font-size: 15px;
}

.carousel-item .text .info .certification {
  padding: 1.3px 5px;
  font-size: 8px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 1rem;
  font-weight: 700;
}

.carousel-item .text .genre {
  font-size: 14px;
  display: inline-block;
  display: none;
  word-spacing: 5px;
  font-weight: 400;
}

.carousel-item .text .desc {
  font-size: 16px;
  line-height: 25px;
  color: rgb(202, 202, 202);
  margin-bottom: 40px;
}

.carousel-item .text .buttons {
  width: 100%;
  height: auto;
  margin-top: 15px;
}

.carousel-item .text .buttons button {
  display: inline-block;
}

.carousel-item .text .view-btn {
  width: 150px;
  height: 45px;
  border-radius: 1.5rem;
  font-size: 13px;
  font-weight: 500;
  word-spacing: 3px;
}

.carousel-item .text .view-btn.watch-now {
  color: rgb(34, 33, 33);
  background-color: var(--color-3);
  font-weight: 500;
  transition: 0.3s;
}

@media screen and (max-width: 900px) {
  .carousel-item .text p {
    font-weight: 400;
    margin-bottom: 9px;
  }

  .carousel-item .text .info {
    display: block;
    font-size: 13px;
  }
  .carousel-item .text .genre {
    display: block;
    font-size: 13px;
  }
  .carousel-item .text .desc {
    display: none;
  }
}
